name: global.ini Tests
on:
  workflow_dispatch:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
jobs:
  No_Missing_Keys:
    name: Check For Missing Keys
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Execute Test
        run: python ./.github/tests/key_test.py

  Matching_Encoding:
    name: Ensure Matching Encodings
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install chardet

      - name: Execute Test
        run: python ./.github/tests/encoding_test.py

  Whitespace_Comma:
    name: Check For Whitespaces Before Comma
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Execute Test
        run: python ./.github/tests/whitespace_comma_test.py

  Whitespace_Double:
    name: Check For Double Whitespaces
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Execute Test
        run: python ./.github/tests/double_whitspace_test.py

  Brackets:
    name: Check For Not Closed Brackets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Execute Test
        run: python ./.github/tests/bracket_test.py
